.panel-footer{
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0;
	color: white
}	
span{
	font-size: 1.3em;
	color: #557c31;
	line-height: 1.8;
}
.panel-footer div .row{
	margin-bottom: 30px
}
@media (max-width: 768px){
	section{text-align: center;}
}
@media (max-width: 991px)and(min-width: 768px){

}
nav{
	color: green;
}
article{
	border: 10px solid olive;
	margin: 10px;
	padding-bottom: 100px
}
p{padding: 10px;
	border-top: 10px double green
}
h2,h3{font-family: fantasy;}